.JobPostContainer{
    display: flex;
    flex-direction: column;
    width: 20rem;
    flex-wrap: nowrap;
    -webkit-box-shadow: -2px 1px 16px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 1px 16px -6px rgba(0,0,0,0.75);
box-shadow: -2px 1px 16px -6px rgba(0,0,0,0.75);
margin:1.2rem;
border-radius: 1rem;
text-align: left;
padding-left: 0.8rem;
line-height: 0%;
padding-left: 20px;

}
.Internal_CompanyInfo{
    display: flex;
    align-items: flex-start;
    margin: 0px 0.8rem;
    padding:0px 5px;
}
.CompanyLogo{
    width: 50px;
    height: 50px;
    object-fit: fill;
    position: relative;
    top: 15px;
}
.CompanyDetails{
    margin-left: 0.7rem;
    position: static;
    bottom: 20px;
    text-align: left;
}
.CompanyName{
    font-size:14px;
    font-weight: 500;
    color:grey;
}
.JobRole{
    font-size: 20px;
    color: black;
    font-weight: 400;
    padding:0px 5px;
}
.JobLocation{
    color: black;
    font-size: 17px;
    padding:0px 5px;
}
.SalaryRange{
    color: #000928;
}
.SaveButton{
    width: 90%;
    height: 2.5rem;
    margin: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    border-style: none;
    background-color: #0033ED;
    color: white;
    font-size: medium;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ApplyButton{
    width: 90%;
    height: 2.5rem;
    margin: 0rem 1rem;
    text-align: center;
    border-radius: 0.5rem;
    border-style: none;
    background-color: #08F69A;
    color: black;
    font-size: medium;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
}
.material_icon{
    background-color: green;
}
.PostedDate{
    border-radius: 1rem;
    border: 1px solid grey;
    padding: 0.2rem;
    width: 9rem;
    font-size: small;
    font-weight: 500;
    color: black;
    display: flex;
    align-items: center;
    padding:0px 5px;
}
select {
    font-size: 16px;
    font-weight: 500;
    padding: 0.5rem;
  }


  .see-more-btn{
    color: #0033ed;
    text-align: center;
    transition: .4s;
    position: relative;
    bottom: 1rem;
}

.see-more-btn:hover{
    cursor: pointer;
    filter: brightness(80%);
    scale: 1.1;
}
.see-more-btn .arrow{
    cursor: pointer;
    display: inline-block;
    scale: 1.8 1;
    margin-left:15px;
    
}
.JobDescription{
    height: 80px;
    overflow: hidden;
    position: relative;
    padding: 0 20px;
    transition: .4s;
}
.JobDescription .remove-gradient-color::before{
    opacity: 0;
}
.JobDescription::before{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent,#fff);
    opacity: 1;
    transition: .8s;
}
.JobDescription .remove-gradient-color .see-more-btn .arrow{
    rotate: 180deg;
}
.AboutCompany{
    margin: 0 2rem 0 0;
}
